$secondary: #1b7570;
// $primary: white;
$primary: #4a8679;
$info: #f4c095;
$danger: #ee2e31;
$light: #eeeeee;
@import '../node_modules/bootstrap/scss/bootstrap';

html {
  font-size: 80%;
}
* {
  font-family: 'Nunito', sans-serif;
}

.sidebar li a.exact-active {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.btn.btn-primary {
  color: white !important;
  border: 1px solid #eee4b1 !important;
}
.btn.btn-secondary {
  color: white !important;
  border: 1px solid #5fb19a !important;
}
.btn.btn-info {
  border: 1px solid rgb(248, 254, 226) !important;
}
table tr {
  vertical-align: middle;
}
.hover-shadow {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.331);
  transition: all 0.5s ease;
}
.hover-shadow:hover {
  box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.331) !important;
}
.btn {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3) !important;
  transition: all 0.5s ease;
}
.btn:hover {
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3) !important;
}

.dataTables_wrapper {
  .row {
    margin: 10px 0 10px 0;
  }
}

.dataTables_length {
  display: flex;
  label {
    display: inherit;
    align-items: center;

    select {
      margin: 0 5px 0 5px;
    }
  }
}

.dataTables_filter {
  display: flex;
  justify-content: end;

  label {
    display: inherit;
    align-items: center;

    input {
      margin-left: 5px;
    }
  }
}

.dataTables_paginate {
  display: flex;
  justify-content: end;
}
